<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>adyagd.godlikefaces/difficulty_-1_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{120,169}</string>
			<key>spriteSourceSize</key>
			<string>{120,171}</string>
			<key>textureRect</key>
			<string>{{0,0},{120,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_-1_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{120,169}</string>
			<key>spriteSourceSize</key>
			<string>{120,171}</string>
			<key>textureRect</key>
			<string>{{171,0},{120,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_0_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{120,169}</string>
			<key>spriteSourceSize</key>
			<string>{120,171}</string>
			<key>textureRect</key>
			<string>{{342,0},{120,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_0_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{120,169}</string>
			<key>spriteSourceSize</key>
			<string>{120,171}</string>
			<key>textureRect</key>
			<string>{{513,0},{120,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{160,181}</string>
			<key>spriteSourceSize</key>
			<string>{160,182}</string>
			<key>textureRect</key>
			<string>{{684,0},{160,181}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{160,181}</string>
			<key>spriteSourceSize</key>
			<string>{160,182}</string>
			<key>textureRect</key>
			<string>{{0,122},{160,181}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{194,218}</string>
			<key>spriteSourceSize</key>
			<string>{194,220}</string>
			<key>textureRect</key>
			<string>{{183,122},{194,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{194,217}</string>
			<key>spriteSourceSize</key>
			<string>{194,220}</string>
			<key>textureRect</key>
			<string>{{403,122},{194,217}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_1_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{120,169}</string>
			<key>spriteSourceSize</key>
			<string>{120,171}</string>
			<key>textureRect</key>
			<string>{{622,162},{120,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_1_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{120,169}</string>
			<key>spriteSourceSize</key>
			<string>{120,171}</string>
			<key>textureRect</key>
			<string>{{793,162},{120,169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_2_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{172,169}</string>
			<key>spriteSourceSize</key>
			<string>{172,171}</string>
			<key>textureRect</key>
			<string>{{0,284},{172,169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_2_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{172,169}</string>
			<key>spriteSourceSize</key>
			<string>{172,171}</string>
			<key>textureRect</key>
			<string>{{622,284},{172,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_3_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,167}</string>
			<key>spriteSourceSize</key>
			<string>{120,168}</string>
			<key>textureRect</key>
			<string>{{174,318},{120,167}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_3_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,167}</string>
			<key>spriteSourceSize</key>
			<string>{120,168}</string>
			<key>textureRect</key>
			<string>{{343,318},{120,167}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_4_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{170,167}</string>
			<key>spriteSourceSize</key>
			<string>{170,168}</string>
			<key>textureRect</key>
			<string>{{174,440},{170,167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_4_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{170,167}</string>
			<key>spriteSourceSize</key>
			<string>{170,168}</string>
			<key>textureRect</key>
			<string>{{346,440},{170,167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_5_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{152,169}</string>
			<key>spriteSourceSize</key>
			<string>{152,171}</string>
			<key>textureRect</key>
			<string>{{793,333},{152,169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_5_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{152,169}</string>
			<key>spriteSourceSize</key>
			<string>{152,171}</string>
			<key>textureRect</key>
			<string>{{0,455},{152,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{143,175}</string>
			<key>spriteSourceSize</key>
			<string>{144,178}</string>
			<key>textureRect</key>
			<string>{{518,458},{143,175}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{144,176}</string>
			<key>spriteSourceSize</key>
			<string>{144,178}</string>
			<key>textureRect</key>
			<string>{{695,504},{144,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{143,212}</string>
			<key>spriteSourceSize</key>
			<string>{144,214}</string>
			<key>textureRect</key>
			<string>{{171,609},{143,212}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{144,214}</string>
			<key>spriteSourceSize</key>
			<string>{144,214}</string>
			<key>textureRect</key>
			<string>{{385,609},{144,214}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{143,170}</string>
			<key>spriteSourceSize</key>
			<string>{144,170}</string>
			<key>textureRect</key>
			<string>{{0,609},{143,170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{143,170}</string>
			<key>spriteSourceSize</key>
			<string>{144,170}</string>
			<key>textureRect</key>
			<string>{{601,650},{143,170}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{142,208}</string>
			<key>spriteSourceSize</key>
			<string>{142,208}</string>
			<key>textureRect</key>
			<string>{{773,650},{142,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{142,208}</string>
			<key>spriteSourceSize</key>
			<string>{142,208}</string>
			<key>textureRect</key>
			<string>{{145,754},{142,208}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{143,170}</string>
			<key>spriteSourceSize</key>
			<string>{144,170}</string>
			<key>textureRect</key>
			<string>{{355,755},{143,170}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{143,170}</string>
			<key>spriteSourceSize</key>
			<string>{144,170}</string>
			<key>textureRect</key>
			<string>{{527,795},{143,170}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{162,207}</string>
			<key>spriteSourceSize</key>
			<string>{162,208}</string>
			<key>textureRect</key>
			<string>{{699,860},{162,207}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{162,207}</string>
			<key>spriteSourceSize</key>
			<string>{162,208}</string>
			<key>textureRect</key>
			<string>{{0,898},{162,207}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{148,176}</string>
			<key>spriteSourceSize</key>
			<string>{148,178}</string>
			<key>textureRect</key>
			<string>{{209,900},{148,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{148,175}</string>
			<key>spriteSourceSize</key>
			<string>{148,178}</string>
			<key>textureRect</key>
			<string>{{387,940},{148,175}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,213}</string>
			<key>spriteSourceSize</key>
			<string>{152,214}</string>
			<key>textureRect</key>
			<string>{{564,1024},{152,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,213}</string>
			<key>spriteSourceSize</key>
			<string>{152,214}</string>
			<key>textureRect</key>
			<string>{{0,1062},{152,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>adyagd.godlikefaces/GodlikeDiffSheet-uhd.png</string>
		<key>size</key>
		<string>{945,1214}</string>
		<key>textureFileName</key>
		<string>adyagd.godlikefaces/GodlikeDiffSheet-uhd.png</string>
	</dict>
</dict>
</plist>