<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>itzkiba.grandpa_demon/GrD_demon0_text.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-13.5}</string>
				<key>spriteSize</key>
				<string>{197,217}</string>
				<key>spriteSourceSize</key>
				<string>{246,246}</string>
				<key>textureRect</key>
				<string>{{0,463},{197,217}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>itzkiba.grandpa_demon/GrD_demon0.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,5}</string>
				<key>spriteSize</key>
				<string>{160,180}</string>
				<key>spriteSourceSize</key>
				<string>{165,190}</string>
				<key>textureRect</key>
				<string>{{0,661},{160,180}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>itzkiba.grandpa_demon/GrD_demon1_text.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-13}</string>
				<key>spriteSize</key>
				<string>{201,220}</string>
				<key>spriteSourceSize</key>
				<string>{246,246}</string>
				<key>textureRect</key>
				<string>{{233,240},{201,220}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>itzkiba.grandpa_demon/GrD_demon1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,5}</string>
				<key>spriteSize</key>
				<string>{155,185}</string>
				<key>spriteSourceSize</key>
				<string>{162,195}</string>
				<key>textureRect</key>
				<string>{{603,0},{155,185}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>itzkiba.grandpa_demon/GrD_demon2_text.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-12.5}</string>
				<key>spriteSize</key>
				<string>{239,219}</string>
				<key>spriteSourceSize</key>
				<string>{246,246}</string>
				<key>textureRect</key>
				<string>{{200,0},{239,219}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>itzkiba.grandpa_demon/GrD_demon2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,6.5}</string>
				<key>spriteSize</key>
				<string>{165,181}</string>
				<key>spriteSourceSize</key>
				<string>{165,196}</string>
				<key>textureRect</key>
				<string>{{570,427},{165,181}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>itzkiba.grandpa_demon/GrD_demon3_text.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-7.5}</string>
				<key>spriteSize</key>
				<string>{217,232}</string>
				<key>spriteSourceSize</key>
				<string>{218,247}</string>
				<key>textureRect</key>
				<string>{{0,245},{217,232}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>itzkiba.grandpa_demon/GrD_demon3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,11}</string>
				<key>spriteSize</key>
				<string>{167,195}</string>
				<key>spriteSourceSize</key>
				<string>{167,217}</string>
				<key>textureRect</key>
				<string>{{435,231},{167,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>itzkiba.grandpa_demon/GrD_demon4_infinity.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-9.5}</string>
				<key>spriteSize</key>
				<string>{178,106}</string>
				<key>spriteSourceSize</key>
				<string>{214,137}</string>
				<key>textureRect</key>
				<string>{{570,593},{178,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>itzkiba.grandpa_demon/GrD_demon4_text.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-8.5}</string>
				<key>spriteSize</key>
				<string>{182,230}</string>
				<key>spriteSourceSize</key>
				<string>{182,247}</string>
				<key>textureRect</key>
				<string>{{420,0},{182,230}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>itzkiba.grandpa_demon/GrD_demon4.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,10.5}</string>
				<key>spriteSize</key>
				<string>{168,193}</string>
				<key>spriteSourceSize</key>
				<string>{169,216}</string>
				<key>textureRect</key>
				<string>{{401,461},{168,193}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>itzkiba.grandpa_demon/GrD_demon5_text.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,-1}</string>
				<key>spriteSize</key>
				<string>{199,244}</string>
				<key>spriteSourceSize</key>
				<string>{246,246}</string>
				<key>textureRect</key>
				<string>{{0,0},{199,244}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>itzkiba.grandpa_demon/GrD_demon5.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{182,195}</string>
				<key>spriteSourceSize</key>
				<string>{182,203}</string>
				<key>textureRect</key>
				<string>{{218,463},{182,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>itzkiba.grandpa_demon/GrD_IconSheet-uhd.png</string>
			<key>size</key>
			<string>{758,821}</string>
			<key>textureFileName</key>
			<string>itzkiba.grandpa_demon/GrD_IconSheet-uhd.png</string>
		</dict>
	</dict>
</plist>