<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>uproxide.textures/TWS_Background.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2560,1440}</string>
			<key>spriteSourceSize</key>
			<string>{2560,1440}</string>
			<key>textureRect</key>
			<string>{{0,0},{2560,1440}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Credits.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{176,168}</string>
			<key>textureRect</key>
			<string>{{0,1442},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_DeleteButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{168,1442},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_DownloadButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{352,1442},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{554,554}</string>
			<key>spriteSourceSize</key>
			<string>{554,554}</string>
			<key>textureRect</key>
			<string>{{536,1442},{554,554}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_FileButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{1092,1442},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_InfoButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{1276,1442},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Logo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1147,139}</string>
			<key>spriteSourceSize</key>
			<string>{1147,139}</string>
			<key>textureRect</key>
			<string>{{1092,1623},{1147,139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_MainButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{181,193}</string>
			<key>spriteSourceSize</key>
			<string>{181,193}</string>
			<key>textureRect</key>
			<string>{{2241,1442},{181,193}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Outline.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1300,1015}</string>
			<key>spriteSourceSize</key>
			<string>{1300,1015}</string>
			<key>textureRect</key>
			<string>{{1092,1764},{1300,1015}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_PlaceholderLogo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{322,322}</string>
			<key>spriteSourceSize</key>
			<string>{336,336}</string>
			<key>textureRect</key>
			<string>{{0,1623},{322,322}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_RefreshButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{324,1623},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_SearchButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{78,74}</string>
			<key>spriteSourceSize</key>
			<string>{78,74}</string>
			<key>textureRect</key>
			<string>{{2436,1442},{78,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Update.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-3}</string>
			<key>spriteSize</key>
			<string>{70,168}</string>
			<key>spriteSourceSize</key>
			<string>{76,174}</string>
			<key>textureRect</key>
			<string>{{2436,1518},{70,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Workshop.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{763,118}</string>
			<key>spriteSourceSize</key>
			<string>{763,118}</string>
			<key>textureRect</key>
			<string>{{324,1998},{763,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>uproxide.textures/TWSSheet-uhd.png</string>
		<key>size</key>
		<string>{2560,2779}</string>
		<key>textureFileName</key>
		<string>uproxide.textures/TWSSheet-uhd.png</string>
	</dict>
</dict>
</plist>