<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>uproxide.more_difficulties/MD_Difficulty04_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{167,167}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{684,0},{167,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04_LegacyLegendary.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{167,167}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{684,168},{167,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04_LegacyMythic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{167,167}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{680,336},{167,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{163,169}</string>
				<key>spriteSourceSize</key>
				<string>{163,174}</string>
				<key>textureRect</key>
				<string>{{373,0},{163,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04Legendary.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{163,169}</string>
				<key>spriteSourceSize</key>
				<string>{163,174}</string>
				<key>textureRect</key>
				<string>{{373,170},{163,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04Mythic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{163,169}</string>
				<key>spriteSourceSize</key>
				<string>{163,174}</string>
				<key>textureRect</key>
				<string>{{0,484},{163,169}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04Small_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,120}</string>
				<key>spriteSourceSize</key>
				<string>{120,120}</string>
				<key>textureRect</key>
				<string>{{170,647},{120,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,120}</string>
				<key>spriteSourceSize</key>
				<string>{120,120}</string>
				<key>textureRect</key>
				<string>{{291,647},{120,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{146,169}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{170,484},{146,169}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07_LegacyLegendary.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,0.5}</string>
				<key>spriteSize</key>
				<string>{146,169}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{340,484},{146,169}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07_LegacyMythic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,0.5}</string>
				<key>spriteSize</key>
				<string>{146,169}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{537,0},{146,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{139,170}</string>
				<key>spriteSourceSize</key>
				<string>{139,174}</string>
				<key>textureRect</key>
				<string>{{201,201},{139,170}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07Legendary.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{139,170}</string>
				<key>spriteSourceSize</key>
				<string>{139,174}</string>
				<key>textureRect</key>
				<string>{{0,344},{139,170}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07Mythic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{139,170}</string>
				<key>spriteSourceSize</key>
				<string>{139,174}</string>
				<key>textureRect</key>
				<string>{{171,344},{139,170}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07Small_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,120}</string>
				<key>spriteSourceSize</key>
				<string>{120,120}</string>
				<key>textureRect</key>
				<string>{{412,647},{120,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,120}</string>
				<key>spriteSourceSize</key>
				<string>{120,120}</string>
				<key>textureRect</key>
				<string>{{533,647},{120,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{200,171}</string>
				<key>spriteSourceSize</key>
				<string>{205,173}</string>
				<key>textureRect</key>
				<string>{{0,0},{200,171}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09_LegacyLegendary.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{200,171}</string>
				<key>spriteSourceSize</key>
				<string>{205,173}</string>
				<key>textureRect</key>
				<string>{{0,172},{200,171}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09_LegacyMythic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{200,171}</string>
				<key>spriteSourceSize</key>
				<string>{205,173}</string>
				<key>textureRect</key>
				<string>{{201,0},{200,171}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{136,169}</string>
				<key>spriteSourceSize</key>
				<string>{136,172}</string>
				<key>textureRect</key>
				<string>{{510,340},{136,169}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09Legendary.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{136,169}</string>
				<key>spriteSourceSize</key>
				<string>{136,172}</string>
				<key>textureRect</key>
				<string>{{537,170},{136,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09Mythic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{136,169}</string>
				<key>spriteSourceSize</key>
				<string>{136,172}</string>
				<key>textureRect</key>
				<string>{{510,477},{136,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09Small_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{120,119}</string>
				<key>spriteSourceSize</key>
				<string>{120,121}</string>
				<key>textureRect</key>
				<string>{{372,340},{120,119}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,120}</string>
				<key>spriteSourceSize</key>
				<string>{120,120}</string>
				<key>textureRect</key>
				<string>{{647,504},{120,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_DifficultyCP.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{120,169}</string>
				<key>spriteSourceSize</key>
				<string>{120,173}</string>
				<key>textureRect</key>
				<string>{{0,648},{120,169}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>uproxide.more_difficulties/MD_DifficultySheet-uhd.png</string>
			<key>size</key>
			<string>{851,768}</string>
			<key>textureFileName</key>
			<string>uproxide.more_difficulties/MD_DifficultySheet-uhd.png</string>
		</dict>
	</dict>
</plist>