<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hiimjustin000.demons_in_between/DIB_01_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{142,207}</string>
			<key>spriteSourceSize</key>
			<string>{142,207}</string>
			<key>textureRect</key>
			<string>{{0,0},{142,207}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_02_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{211,207}</string>
			<key>spriteSourceSize</key>
			<string>{211,207}</string>
			<key>textureRect</key>
			<string>{{209,0},{211,207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_03_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,207}</string>
			<key>spriteSourceSize</key>
			<string>{150,207}</string>
			<key>textureRect</key>
			<string>{{422,0},{150,207}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_04_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{142,207}</string>
			<key>spriteSourceSize</key>
			<string>{142,207}</string>
			<key>textureRect</key>
			<string>{{631,0},{142,207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_05_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{164,207}</string>
			<key>spriteSourceSize</key>
			<string>{164,207}</string>
			<key>textureRect</key>
			<string>{{0,144},{164,207}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_06_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{143,206}</string>
			<key>spriteSourceSize</key>
			<string>{162,206}</string>
			<key>textureRect</key>
			<string>{{422,152},{143,206}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_07_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{162,206}</string>
			<key>spriteSourceSize</key>
			<string>{162,206}</string>
			<key>textureRect</key>
			<string>{{209,209},{162,206}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_08_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{172,207}</string>
			<key>spriteSourceSize</key>
			<string>{172,213}</string>
			<key>textureRect</key>
			<string>{{630,209},{172,207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_09_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{217,207}</string>
			<key>spriteSourceSize</key>
			<string>{217,213}</string>
			<key>textureRect</key>
			<string>{{417,297},{217,207}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_10_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{154,210}</string>
			<key>spriteSourceSize</key>
			<string>{154,213}</string>
			<key>textureRect</key>
			<string>{{0,310},{154,210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_11_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{143,213}</string>
			<key>spriteSourceSize</key>
			<string>{143,213}</string>
			<key>textureRect</key>
			<string>{{156,373},{143,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_12_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{170,213}</string>
			<key>spriteSourceSize</key>
			<string>{170,213}</string>
			<key>textureRect</key>
			<string>{{626,418},{170,213}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_13_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{143,213}</string>
			<key>spriteSourceSize</key>
			<string>{144,213}</string>
			<key>textureRect</key>
			<string>{{371,516},{143,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_14_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{146,213}</string>
			<key>spriteSourceSize</key>
			<string>{146,213}</string>
			<key>textureRect</key>
			<string>{{156,518},{146,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_15_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,213}</string>
			<key>spriteSourceSize</key>
			<string>{152,213}</string>
			<key>textureRect</key>
			<string>{{0,522},{152,213}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_16_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{148,213}</string>
			<key>spriteSourceSize</key>
			<string>{148,218}</string>
			<key>textureRect</key>
			<string>{{586,633},{148,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_17_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{156,213}</string>
			<key>spriteSourceSize</key>
			<string>{156,218}</string>
			<key>textureRect</key>
			<string>{{371,661},{156,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_18_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{180,216}</string>
			<key>spriteSourceSize</key>
			<string>{180,218}</string>
			<key>textureRect</key>
			<string>{{154,666},{180,216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_19_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{160,216}</string>
			<key>spriteSourceSize</key>
			<string>{160,218}</string>
			<key>textureRect</key>
			<string>{{586,783},{160,216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_20_btn2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{194,218}</string>
			<key>spriteSourceSize</key>
			<string>{194,218}</string>
			<key>textureRect</key>
			<string>{{336,819},{194,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>hiimjustin000.demons_in_between/DIB_LongSheet-uhd.png</string>
		<key>size</key>
		<string>{802,1013}</string>
		<key>textureFileName</key>
		<string>hiimjustin000.demons_in_between/DIB_LongSheet-uhd.png</string>
	</dict>
</dict>
</plist>