<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hiimjustin000.demons_in_between/DIB_01_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{143,170}</string>
			<key>spriteSourceSize</key>
			<string>{143,170}</string>
			<key>textureRect</key>
			<string>{{0,0},{143,170}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_02_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{143,170}</string>
			<key>spriteSourceSize</key>
			<string>{143,170}</string>
			<key>textureRect</key>
			<string>{{172,0},{143,170}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_03_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{143,170}</string>
			<key>spriteSourceSize</key>
			<string>{143,170}</string>
			<key>textureRect</key>
			<string>{{344,0},{143,170}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_04_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{143,169}</string>
			<key>spriteSourceSize</key>
			<string>{143,169}</string>
			<key>textureRect</key>
			<string>{{516,0},{143,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_05_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{143,170}</string>
			<key>spriteSourceSize</key>
			<string>{143,170}</string>
			<key>textureRect</key>
			<string>{{0,145},{143,170}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_06_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{143,170}</string>
			<key>spriteSourceSize</key>
			<string>{143,170}</string>
			<key>textureRect</key>
			<string>{{172,145},{143,170}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_07_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{143,169}</string>
			<key>spriteSourceSize</key>
			<string>{143,169}</string>
			<key>textureRect</key>
			<string>{{344,145},{143,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_08_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{143,170}</string>
			<key>spriteSourceSize</key>
			<string>{143,176}</string>
			<key>textureRect</key>
			<string>{{515,145},{143,170}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_09_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{143,170}</string>
			<key>spriteSourceSize</key>
			<string>{143,176}</string>
			<key>textureRect</key>
			<string>{{0,290},{143,170}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_10_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{143,173}</string>
			<key>spriteSourceSize</key>
			<string>{143,176}</string>
			<key>textureRect</key>
			<string>{{172,290},{143,173}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_11_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{143,176}</string>
			<key>spriteSourceSize</key>
			<string>{143,176}</string>
			<key>textureRect</key>
			<string>{{347,290},{143,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_12_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{143,176}</string>
			<key>spriteSourceSize</key>
			<string>{148,176}</string>
			<key>textureRect</key>
			<string>{{525,290},{143,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_13_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{143,176}</string>
			<key>spriteSourceSize</key>
			<string>{148,176}</string>
			<key>textureRect</key>
			<string>{{0,435},{143,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_14_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{146,176}</string>
			<key>spriteSourceSize</key>
			<string>{148,176}</string>
			<key>textureRect</key>
			<string>{{178,435},{146,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_15_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{148,176}</string>
			<key>spriteSourceSize</key>
			<string>{148,176}</string>
			<key>textureRect</key>
			<string>{{356,435},{148,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_16_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{148,176}</string>
			<key>spriteSourceSize</key>
			<string>{160,181}</string>
			<key>textureRect</key>
			<string>{{534,435},{148,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_17_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{156,176}</string>
			<key>spriteSourceSize</key>
			<string>{160,181}</string>
			<key>textureRect</key>
			<string>{{0,580},{156,176}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_18_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{160,179}</string>
			<key>spriteSourceSize</key>
			<string>{160,181}</string>
			<key>textureRect</key>
			<string>{{178,585},{160,179}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_19_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{160,179}</string>
			<key>spriteSourceSize</key>
			<string>{160,181}</string>
			<key>textureRect</key>
			<string>{{359,585},{160,179}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_20_btn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,181}</string>
			<key>spriteSourceSize</key>
			<string>{160,181}</string>
			<key>textureRect</key>
			<string>{{540,585},{160,181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>hiimjustin000.demons_in_between/DIB_ShortSheet-uhd.png</string>
		<key>size</key>
		<string>{710,766}</string>
		<key>textureFileName</key>
		<string>hiimjustin000.demons_in_between/DIB_ShortSheet-uhd.png</string>
	</dict>
</dict>
</plist>