<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dankmeme.globed2/button-secret.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1262,0},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/daily-glow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{298,298}</string>
			<key>spriteSourceSize</key>
			<string>{300,300}</string>
			<key>textureRect</key>
			<string>{{1578,1362},{298,298}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/deafen-icon-off.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{107,97}</string>
			<key>spriteSourceSize</key>
			<string>{124,124}</string>
			<key>textureRect</key>
			<string>{{0,0},{107,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/deafen-icon-on.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{111,97}</string>
			<key>spriteSourceSize</key>
			<string>{124,124}</string>
			<key>textureRect</key>
			<string>{{109,0},{111,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/default-player-cube.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{121,120}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{1579,821},{121,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/featured-player-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{115,131}</string>
			<key>spriteSourceSize</key>
			<string>{133,144}</string>
			<key>textureRect</key>
			<string>{{1578,1662},{115,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/friend-gradient.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-8,0}</string>
			<key>spriteSize</key>
			<string>{585,120}</string>
			<key>spriteSourceSize</key>
			<string>{600,120}</string>
			<key>textureRect</key>
			<string>{{1312,943},{585,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/friend-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{183,143}</string>
			<key>spriteSourceSize</key>
			<string>{200,144}</string>
			<key>textureRect</key>
			<string>{{1395,0},{183,143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-ban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{1580,0},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-chat.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{182,155}</string>
			<key>spriteSourceSize</key>
			<string>{190,190}</string>
			<key>textureRect</key>
			<string>{{222,0},{182,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-close-room.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{180,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{1748,0},{180,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-credits.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{983,84},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-crown-btn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-4}</string>
			<key>spriteSize</key>
			<string>{321,202}</string>
			<key>spriteSourceSize</key>
			<string>{331,238}</string>
			<key>textureRect</key>
			<string>{{1578,1779},{321,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-crown.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{327,217}</string>
			<key>spriteSourceSize</key>
			<string>{331,238}</string>
			<key>textureRect</key>
			<string>{{1578,1983},{327,217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-edition.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,200}</string>
			<key>spriteSourceSize</key>
			<string>{200,200}</string>
			<key>textureRect</key>
			<string>{{1578,2202},{200,200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-epic.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,34}</string>
			<key>spriteSize</key>
			<string>{190,194}</string>
			<key>spriteSourceSize</key>
			<string>{194,266}</string>
			<key>textureRect</key>
			<string>{{1578,2404},{190,194}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-featured-label.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{772,207}</string>
			<key>spriteSourceSize</key>
			<string>{777,220}</string>
			<key>textureRect</key>
			<string>{{0,2512},{772,207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,23}</string>
			<key>spriteSize</key>
			<string>{164,167}</string>
			<key>spriteSourceSize</key>
			<string>{168,215}</string>
			<key>textureRect</key>
			<string>{{774,2512},{164,167}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-glow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{218,217}</string>
			<key>spriteSourceSize</key>
			<string>{225,217}</string>
			<key>textureRect</key>
			<string>{{943,2512},{218,217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-hide-player.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{180,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{0,99},{180,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-invite-menu.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1151,130},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-invite.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{100,74}</string>
			<key>spriteSourceSize</key>
			<string>{104,77}</string>
			<key>textureRect</key>
			<string>{{1284,130},{100,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-kick-all.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{180,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,190}</string>
			<key>textureRect</key>
			<string>{{1386,145},{180,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-kick.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,190}</string>
			<key>spriteSourceSize</key>
			<string>{184,190}</string>
			<key>textureRect</key>
			<string>{{184,157},{184,190}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-kofi.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{406,143},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-leave-server.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1570,165},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-level-list.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{574,182},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-logout.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{114,116}</string>
			<key>spriteSourceSize</key>
			<string>{118,124}</string>
			<key>textureRect</key>
			<string>{{1703,182},{114,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-mute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,158}</string>
			<key>spriteSourceSize</key>
			<string>{152,158}</string>
			<key>textureRect</key>
			<string>{{742,213},{152,158}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-outstanding-overlay.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-11}</string>
			<key>spriteSize</key>
			<string>{155,76}</string>
			<key>spriteSourceSize</key>
			<string>{250,266}</string>
			<key>textureRect</key>
			<string>{{1780,2202},{155,76}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-outstanding.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-3,31}</string>
			<key>spriteSize</key>
			<string>{205,201}</string>
			<key>spriteSourceSize</key>
			<string>{250,266}</string>
			<key>textureRect</key>
			<string>{{1163,2512},{205,201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-person.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{115,131}</string>
			<key>spriteSourceSize</key>
			<string>{133,144}</string>
			<key>textureRect</key>
			<string>{{902,249},{115,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-players.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{176,141}</string>
			<key>spriteSourceSize</key>
			<string>{190,190}</string>
			<key>textureRect</key>
			<string>{{406,0},{176,141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-refresh-square.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1035,260},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-send-btn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{180,183}</string>
			<key>spriteSourceSize</key>
			<string>{184,190}</string>
			<key>textureRect</key>
			<string>{{1370,2512},{180,183}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-server-folder.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{1168,260},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-show-player.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{180,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{584,0},{180,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-teleport.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{768,0},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-unban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{0,281},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-unmute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,158}</string>
			<key>spriteSourceSize</key>
			<string>{152,158}</string>
			<key>textureRect</key>
			<string>{{1703,298},{152,158}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-unwhitelist.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{160,141}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{376,308},{160,141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-voice-chat-guide.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{1336,327},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-whitelist.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{157,141}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{1504,327},{157,141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/kofi-promo-border.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1236,728}</string>
			<key>spriteSourceSize</key>
			<string>{1238,728}</string>
			<key>textureRect</key>
			<string>{{0,451},{1236,728}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/kofi-promo-card.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{1310,764}</string>
			<key>spriteSourceSize</key>
			<string>{1319,773}</string>
			<key>textureRect</key>
			<string>{{0,1181},{1310,764}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/list-border-bottom.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,15}</string>
			<key>spriteSize</key>
			<string>{1556,169}</string>
			<key>spriteSourceSize</key>
			<string>{1556,206}</string>
			<key>textureRect</key>
			<string>{{0,1947},{1556,169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/list-border-side.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,0}</string>
			<key>spriteSize</key>
			<string>{88,256}</string>
			<key>spriteSourceSize</key>
			<string>{119,256}</string>
			<key>textureRect</key>
			<string>{{1558,1065},{88,256}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/list-border-top.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-16}</string>
			<key>spriteSize</key>
			<string>{1576,175}</string>
			<key>spriteSourceSize</key>
			<string>{1576,215}</string>
			<key>textureRect</key>
			<string>{{0,2118},{1576,175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/menuicon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,200}</string>
			<key>spriteSourceSize</key>
			<string>{200,200}</string>
			<key>textureRect</key>
			<string>{{1663,452},{200,200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/pencil.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{106,108}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{1504,470},{106,108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/room-icon-collision.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{166,165}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{1312,492},{166,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/room-icon-deathlink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{166,165}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{1480,578},{166,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/room-icon-lock.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{166,165}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{1648,654},{166,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/secret-question-mark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1312,659},{132,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/shadow-thing-idk.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{309,94}</string>
			<key>spriteSourceSize</key>
			<string>{310,94}</string>
			<key>textureRect</key>
			<string>{{1578,1155},{309,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon-red.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{91,82}</string>
			<key>spriteSourceSize</key>
			<string>{96,96}</string>
			<key>textureRect</key>
			<string>{{983,0},{91,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon-yellow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{91,82}</string>
			<key>spriteSourceSize</key>
			<string>{96,96}</string>
			<key>textureRect</key>
			<string>{{1076,0},{91,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{91,82}</string>
			<key>spriteSourceSize</key>
			<string>{96,96}</string>
			<key>textureRect</key>
			<string>{{1169,0},{91,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/status-invisible.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{130,132}</string>
			<key>textureRect</key>
			<string>{{1446,745},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/status-visible.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{130,132}</string>
			<key>textureRect</key>
			<string>{{1312,792},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/tab-gradient-mask.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-9}</string>
			<key>spriteSize</key>
			<string>{344,109}</string>
			<key>spriteSourceSize</key>
			<string>{369,128}</string>
			<key>textureRect</key>
			<string>{{1578,1251},{344,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/tab-gradient.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1576,215}</string>
			<key>spriteSourceSize</key>
			<string>{1576,215}</string>
			<key>textureRect</key>
			<string>{{0,2295},{1576,215}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/title-daily.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1280,183}</string>
			<key>spriteSourceSize</key>
			<string>{1280,183}</string>
			<key>textureRect</key>
			<string>{{0,2731},{1280,183}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>dankmeme.globed2/globedsheet1-uhd.png</string>
		<key>size</key>
		<string>{1930,2914}</string>
		<key>textureFileName</key>
		<string>dankmeme.globed2/globedsheet1-uhd.png</string>
	</dict>
</dict>
</plist>