<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ninxout.redash/RD_betterinfo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{188,136}</string>
			<key>spriteSourceSize</key>
			<string>{188,136}</string>
			<key>textureRect</key>
			<string>{{0,0},{188,136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_create.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{253,246}</string>
			<key>spriteSourceSize</key>
			<string>{253,246}</string>
			<key>textureRect</key>
			<string>{{190,0},{253,246}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_createLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{363,90}</string>
			<key>spriteSourceSize</key>
			<string>{363,90}</string>
			<key>textureRect</key>
			<string>{{445,0},{363,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{219,233}</string>
			<key>spriteSourceSize</key>
			<string>{219,233}</string>
			<key>textureRect</key>
			<string>{{810,0},{219,233}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_featuredLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{468,89}</string>
			<key>spriteSourceSize</key>
			<string>{468,89}</string>
			<key>textureRect</key>
			<string>{{445,221},{468,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_gauntlets.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{233,245}</string>
			<key>spriteSourceSize</key>
			<string>{233,245}</string>
			<key>textureRect</key>
			<string>{{915,221},{233,245}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_gauntletsLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{432,74}</string>
			<key>spriteSourceSize</key>
			<string>{432,74}</string>
			<key>textureRect</key>
			<string>{{0,248},{432,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_gddp.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{193,187}</string>
			<key>spriteSourceSize</key>
			<string>{193,187}</string>
			<key>textureRect</key>
			<string>{{434,312},{193,187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_gddp2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{210,189}</string>
			<key>spriteSourceSize</key>
			<string>{210,189}</string>
			<key>textureRect</key>
			<string>{{629,312},{210,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_leaderboards.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{281,259}</string>
			<key>spriteSourceSize</key>
			<string>{281,259}</string>
			<key>textureRect</key>
			<string>{{0,324},{281,259}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_leaderboardsLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{373,90}</string>
			<key>spriteSourceSize</key>
			<string>{373,90}</string>
			<key>textureRect</key>
			<string>{{841,456},{373,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_lists.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{215,234}</string>
			<key>spriteSourceSize</key>
			<string>{215,234}</string>
			<key>textureRect</key>
			<string>{{283,501},{215,234}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_listsLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{280,88}</string>
			<key>spriteSourceSize</key>
			<string>{280,88}</string>
			<key>textureRect</key>
			<string>{{519,503},{280,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_mainLevel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{808,606}</string>
			<key>spriteSourceSize</key>
			<string>{808,606}</string>
			<key>textureRect</key>
			<string>{{283,718},{808,606}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_mainLevelsLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{968,145}</string>
			<key>spriteSourceSize</key>
			<string>{968,145}</string>
			<key>textureRect</key>
			<string>{{0,1326},{968,145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_mappacks.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{222,157}</string>
			<key>spriteSourceSize</key>
			<string>{222,157}</string>
			<key>textureRect</key>
			<string>{{970,1326},{222,157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_paths.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{313,198}</string>
			<key>spriteSourceSize</key>
			<string>{313,198}</string>
			<key>textureRect</key>
			<string>{{0,1473},{313,198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_pathsLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{305,89}</string>
			<key>spriteSourceSize</key>
			<string>{305,89}</string>
			<key>textureRect</key>
			<string>{{315,1473},{305,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_paths_02.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{218,148}</string>
			<key>spriteSourceSize</key>
			<string>{218,148}</string>
			<key>textureRect</key>
			<string>{{622,1473},{218,148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_quests.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{156,169}</string>
			<key>spriteSourceSize</key>
			<string>{156,169}</string>
			<key>textureRect</key>
			<string>{{842,1485},{156,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_safe.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{191,208}</string>
			<key>spriteSourceSize</key>
			<string>{191,208}</string>
			<key>textureRect</key>
			<string>{{1013,1485},{191,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_saved.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{267,224}</string>
			<key>spriteSourceSize</key>
			<string>{267,224}</string>
			<key>textureRect</key>
			<string>{{315,1564},{267,224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_savedLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{304,90}</string>
			<key>spriteSourceSize</key>
			<string>{304,90}</string>
			<key>textureRect</key>
			<string>{{584,1643},{304,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{221,222}</string>
			<key>spriteSourceSize</key>
			<string>{221,222}</string>
			<key>textureRect</key>
			<string>{{0,1673},{221,222}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_searchLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{380,90}</string>
			<key>spriteSourceSize</key>
			<string>{380,90}</string>
			<key>textureRect</key>
			<string>{{584,1735},{380,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_superexpert.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{221,177}</string>
			<key>spriteSourceSize</key>
			<string>{221,177}</string>
			<key>textureRect</key>
			<string>{{966,1695},{221,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>ninxout.redash/redashsheet1-uhd.png</string>
		<key>size</key>
		<string>{1214,1894}</string>
		<key>textureFileName</key>
		<string>ninxout.redash/redashsheet1-uhd.png</string>
	</dict>
</dict>
</plist>